body{
    font-family: Arial;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 15px;
    padding: 10px;
}

button{
    padding: 10px;
    cursor: pointer;
}