body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/loginBG.jpeg');
    background-size: cover;
    background-position: center;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 15px;
    padding: 10px;
}

button{
    padding: 10px;
    cursor: pointer;
}